tr.multipleSelectedItem{
    background: #5faee3 !important;
}
#listTable tbody tr{
    color: #aaa
}
#listTable tbody tr.noTrackingNo{
    color: seagreen;
}
#listTable tbody tr.noShipper{
    color: orangered;
}