tbody tr.selected{background: #27ae60}
tbody tr.plan{background: #27ae60}

td.inventoryQuantity{color: blue; font-weight: bold}
td.inventoryLack{color: red !important;}
#myChart{margin-top:30px;}

tbody td input{width: 40px;}

.chartDetail{margin:5px;}
.quantitySpan{margin-left:20px;}

.purchaseChart{color: green}
.shipmentChart{color: red}
.otherShipmentChart{color: gray}