<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="common/common_head :: head(${pageTitle})"></div>
<link type="text/css" rel="stylesheet" th:href="@{/webjars/jquery-file-upload/css/jquery.fileupload.css}"/>
<body>
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <input id="file_upload_form" class="fileupload" type="file" name="file"></input>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-warning update" onclick="uploadToPurchase()">上传</button>
                </div>
            </div>

            <div class="row" id="tableBox">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-body" id="tableDiv1st">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-body" id="tableDiv2nd">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="common/common_js :: js"></div>
<script type="text/javascript" th:src="@{/webjars/jquery-file-upload/js/jquery.fileupload.js}"></script>
</body>
</html>

