<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="common/common_head :: head(${pageTitle})"></div>
<body>
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">

            <div class="row" id="searchBox">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <select id="searchStoreId" class="select2">
                                    <option value="">店铺选择</option>
                                    <option value="111">庙美国</option>
                                    <option value="112">庙加拿大</option>
                                    <option value="121">庙欧洲</option>
                                    <option value="211">燕子美国</option>
                                    <option value="221">燕子欧洲</option>
                                    <option value="311">聪美美国</option>
                                    <option value="411">拾子美国</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="tableBox">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
<!--                            <a href="#itemId=0" class="pull-right"><i class="fa fa-plus-square"></i> 新增</a>-->
                            <button type="button" class="pull-right btn btn-warning" onclick="autoCreate()">自动创建</button>
                        </div>
                        <div class="box-body font12" id="tableDiv">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="itemBox">
                <div class="col-xs-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <a href="#" class=""><i class="fa fa-backward"></i> 返回</a>
                        </div>
                        <form id="itemForm" action="#" class="form-horizontal">
                            <div class="box-body">
                                <input type="hidden" pid="id"/>
                            </div>
                        </form>

                        <div class="box-footer">
                            <p>毛利=亚马逊金额-订单产品价值</p>
                            <p>流水=亚马逊金额-FBA运费-FBA产品价值-海外仓费用-海外仓运费-海外仓产品价值</p>
                            <div class="pull-right">
                                <button sec:authorize="hasAuthority('ROLE_Shipment_Edit')" type="button" class="btn btn-warning update" onclick="generate()">更新报表</button>
                                <button sec:authorize="hasAuthority('ROLE_Shipment_Edit')" type="button" class="btn btn-warning update" onclick="download()">下载报表</button>
                                <button type="button" class="btn cancel" data-dismiss="modal">取消</button>
                                <button type="submit" class="hide"></button>
                            </div>
                        </div>

                        <form id="itemForm3" action="#" class="form-horizontal">
                            <div class="box-body">
                                <input type="hidden" pid="id"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <a href="#" class=""></a>
                        </div>
                        <form id="itemForm2" action="#" class="form-horizontal">
                            <div class="box-body">
                                <input type="hidden" pid="id"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
<div th:replace="common/common_js :: js"></div>
<script type="text/javascript" th:src="@{'/js/common_fn.js?v=' + ${version}}"></script>
</body>
</html>

