<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="common/common_head :: head(${pageTitle})"></div>
<body>
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="row" id="tableBox">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <a href="#detailId=0" class="pull-right"><i class="fa fa-plus-square"></i> 新增小包</a>
                        </div>
                        <div class="box-body" id="tableDiv">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="contentBox">
                <div class="col-xs-6">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">小包详情</h3>
                            <a href="#" class="pull-right"><i class="fa fa-backward"></i> 返回</a>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form id="contentForm" action="#" class="form-horizontal">
                            <div class="box-body">
                                <input type="hidden" pid="id"/>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">发货日期 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control required datePattern" pid="deliveryDate"/>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="pull-right">
                                    <button sec:authorize="hasAuthority('ROLE_Packet_Edit')" type="button" class="btn btn-success create" onclick="saveDetail('create')">创建</button>
                                    <button sec:authorize="hasAuthority('ROLE_Packet_Edit')" type="button" class="btn btn-warning update" onclick="saveDetail('update')">更改</button>
                                    <button type="button" class="btn cancel" onclick="window.location.href='#'">取消</button>
                                    <button type="submit" class="hide"></button>
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
    </div>
</div>
<div th:replace="common/common_js :: js"></div>
</body>
</html>

