<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="common/common_head :: head(${pageTitle})"></div>
<body>
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="row" id="tableBox">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <a href="#detailId=0" class="pull-right"><i class="fa fa-plus-square"></i> 新增FBA</a>
                        </div>
                        <div class="box-body" id="tableDiv">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="contentBox">
                <div class="col-xs-6">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <a href="#" class=""><i class="fa fa-backward"></i> 返回列表</a>
                            <div class="pull-right">
                                <button sec:authorize="hasAuthority('ROLE_Shipment_Edit')" type="button" class="btn btn-success update createHidden" onclick="createNewBox()">新增箱子</button>
                                <button sec:authorize="hasAuthority('ROLE_Shipment_Edit')" type="button" class="btn btn-success update createHidden" onclick="saveDetail('update')">保存并刷新</button>
                                <button type="submit" class="hide"></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form id="contentForm" action="#" class="form-horizontal">
                            <div class="box-body createHidden" id="detailListTableDiv">
                            </div>

                            <div class="box-body">
                                <input type="hidden" pid="id"/>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">店铺 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" readonly pid="storeId" type="hidden"/>
                                        <input class="form-control" readonly pid="storeName"/>
                                    </div>
                                </div>
                                <div class="form-group hidden">
                                    <label class="col-xs-3 control-label">总重量 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" disabled="disabled" pid="weight"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">重量明细 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" disabled="disabled" pid="weightRemark"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">箱数 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" disabled="disabled" pid="boxCount"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">已发货 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <select class="form-control" pid="statusDelivery">
                                            <option value="">未发货</option>
                                            <option value="1">已发货</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">发货日期 <span class="required">*</span></label>
                                    <div class="col-xs-9">
                                        <input required="required" class="form-control required datePattern" pid="deliveryDate"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">FBA No. <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" pid="fbaNo"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">运单号 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" pid="trackingNumber"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">货代 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" pid="carrier"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">线路 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" pid="route"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">单价 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" pid="unitPrice" type="number" step="0.01"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">收费重量 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" pid="chargeWeight" type="number" step="0.01" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">总运费 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" pid="amount" type="number" step="0.01" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">付款日期 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control datePattern" pid="paymentDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">签收日期 <span class="required hide">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control datePattern" pid="signedDate" />
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="pull-right">
                                    <button sec:authorize="hasAuthority('ROLE_Shipment_Edit')" type="button" class="btn btn-success create" onclick="saveDetail('create')">创建</button>
                                    <button type="submit" class="hide"></button>
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>

                <div class="col-md-6 createHidden">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">装箱计划</h3>
                            <span class="pull-right" onclick="showDetailListContentModalPre(0)"><i class="fa fa-plus-square"></i> 新增计划</span>
                        </div>
                        <div class="box-body" id="planDiv">
                        </div>
                    </div>
                </div>

                <div class="modal" id="detailListContentModal">
                    <div class="modal-dialog">
                        <div class="modal-body">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">详情</h3>
                                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">X</span></button>
                                </div>
                                <!-- form start -->
                                <form id="detailListContentForm" action="#" class="form-horizontal">
                                    <div class="box-body">
                                        <input type="hidden" pid="id"/>
                                        <input type="hidden" pid="shipmentId"/>
                                        <input type="hidden" pid="box"/>
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">产品 <span class="required">*</span></label>
                                            <div class="col-xs-9">
                                                <select pid="productId"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">数量 <span class="required">*</span></label>
                                            <div class="col-xs-9">
                                                <input required="required" class="form-control required" pid="quantity"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">备注 <span class="required hide">*</span></label>
                                            <div class="col-xs-9">
                                                <input class="form-control" pid="remark"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <div class="pull-right">
                                            <button sec:authorize="hasAuthority('ROLE_Shipment_Edit')" type="button" class="btn btn-success create" onclick="saveDetailListDetail('create')">创建新</button>
                                            <button sec:authorize="hasAuthority('ROLE_Shipment_Edit')" type="button" class="btn btn-warning update" onclick="saveDetailListDetail('update')">保存</button>
                                            <button sec:authorize="hasAuthority('ROLE_Shipment_Edit')" type="button" class="btn btn-warning update" onclick="saveDetailListDetail('delete')">删除</button>
                                            <button type="button" class="btn cancel" data-dismiss="modal">取消</button>
                                            <button type="submit" class="hide"></button>
                                        </div>
                                    </div>
                                    <!-- /.box-footer -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>
</div>
<div th:replace="common/common_js :: js"></div>
</body>
</html>

