<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="common/common_head :: head(${pageTitle})"></div>
<link type="text/css" rel="stylesheet" th:href="@{/webjars/jquery-file-upload/css/jquery.fileupload.css}"/>
<body>
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <input id="file_upload_form" class="fileupload" type="file" name="file" style='display:none;'></input>

            <div class="row" id="tableBox">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <div class="col-xs-4">
                                <select id="fbaStoreId" class="select2">
                                    <option value="">店铺选择</option>
                                    <option value="111">庙美国</option>
                                    <option value="112">庙加拿大</option>
                                    <option value="121">庙欧洲</option>
                                    <option value="211">燕子美国</option>
                                    <option value="221">燕子欧洲</option>
                                    <option value="311">聪美美国</option>
                                    <option value="411">拾子美国</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
<!--                                <input type="radio" name="statusSelected" value="all" checked /><span>显示所有</span>-->
<!--                                <input type="radio" name="statusSelected" value="batch" /><span>显示筛选</span>-->
                                <span class="batchSelected spanOption defaultSelected" batchSelected="all">显示所有</span>
                                <span class="batchSelected spanOption" batchSelected="batch">显示筛选</span>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-success batchButton" onclick="showOversea()">发海外仓</button>
                                <button type="button" class="btn btn-danger text-right" id="cleanBatch" onclick="cleanBatch()">重置</button>
                            </div>
                        </div>
                        <div class="box-body" id="tableDiv">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="contentBox">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <a href="#" class="pull-right"><i class="fa fa-backward"></i> 返回</a>
                    </div>
                    <div id="myChart" class="chartDiv"></div>
                </div>
            </div>

            <div class="row" id="planBox">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <a href="#" class="pull-right"><i class="fa fa-backward"></i> 返回</a>
                    </div>
                    <div id="planTableDiv" class=""></div>
                    <form id="contentForm" class="form-horizontal" action="#">
                        <div class="box-body">
                            <input type="hidden" pid="id"/>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">发货日期 <span class="required hide">*</span></label>
                                <div class="col-xs-6">
                                    <input class="form-control required datePattern" pid="deliveryDate"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">货代 <span class="required hide">*</span></label>
                                <div class="col-xs-6">
                                    <input class="form-control required datePattern" pid="carrier"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">箱子数 <span class="required hide">*</span></label>
                                <div class="col-xs-6">
                                    <input class="form-control required datePattern" pid="boxCount"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">备注 <span class="required hide">*</span></label>
                                <div class="col-xs-6">
                                    <input class="form-control required datePattern" pid="remark"/>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="pull-right">
                                <button sec:authorize="hasAuthority('ROLE_Packet_Edit')" type="button" class="btn btn-success create" onclick="saveDetail('create')">创建</button>
                                <button type="button" class="btn cancel" onclick="window.location.href='#'">取消</button>
                                <button type="submit" class="hide"></button>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>

            <div th:replace="sku_batch"></div>

            <div class="row" id="chartBox">
                <div class="col-md-12 hidden">
                    <div id="inventoryChart" class="chartDiv"></div>
                </div>
                <div class="col-md-12 hidden">
                    <div id="shipmentChart" class="chartDiv"></div>
                </div>
                <div class="col-md-12 hidden">
                    <div id="purchaseChart" class="chartDiv"></div>
                </div>
                <div class="col-md-12 hidden">
                    <div id="packetChart" class="chartDiv"></div>
                </div>
            </div>

            <div class="row" id="chartDetailBox">
                <div class="col-md-4 purchaseChart">
                    <span>收货</span>
                    <br/>
                    <span id="purchaseChartSumPeriod" class="chartDetailValue">收货</span>
                    <br/>
                    <span id="purchaseChartSumTotal" class="chartDetailValue">收货</span>
                </div>
                <div class="col-md-4 shipmentChart">
                    <span>发货</span>
                    <br/>
                    <span id="shipmentChartSumPeriod" class="chartDetailValue">收货</span>
                    <br/>
                    <span id="shipmentChartSumTotal" class="chartDetailValue">收货</span>
                </div>
                <div class="col-md-4 otherShipmentChart">
                    <span>其它SKU发货</span>
                    <br/>
                    <span id="otherShipmentChartSumPeriod" class="chartDetailValue">收货</span>
                    <br/>
                    <span id="otherShipmentChartSumTotal" class="chartDetailValue">收货</span>
                </div>
                <div class="col-md-4 chartDetailValue purchaseChart" id="purchaseChartDetail">
                </div>
                <div class="col-md-4 chartDetailValue shipmentChart" id="shipmentChartDetail">
                </div>
                <div class="col-md-4 chartDetailValue otherShipmentChart" id="otherShipmentChartDetail">
                </div>
            </div>

        </section>
    </div>
</div>

<div th:replace="common/common_js :: js"></div>
<script type="text/javascript" th:src="@{/webjars/jquery-file-upload/js/jquery.fileupload.js}"></script>
<script type="text/javascript" th:src="@{/webjars/highcharts/highcharts.js}"></script>
<script type="text/javascript" th:src="@{'/js/common_fn.js?v=' + ${version}}"></script>
<script type="text/javascript" th:src="@{'/js/sku_batch.js?v=' + ${version}}"></script>
</body>
</html>

